<template>
  <v-layout row justify-center>
    <v-dialog v-model="exclude" persistent max-width="400">
      <v-card>
        <v-card-title class="headline">Remover a inscrição?</v-card-title>
        <v-card-text>Tem certeza que deseja remover a inscrição do atleta <strong>{{form.nome}}</strong>?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat @click.native="exclude = false">Cancelar</v-btn>
          <v-btn color="error darken-1" flat @click.native="save" :loading="loading">Excluir</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog" persistent width="800px">
      <v-card>
        <v-card-title
          class="grey lighten-4 py-4 title"
        >
          Formulário de Atleta
        </v-card-title>
        <v-container grid-list-sm class="pa-4">
          <v-layout row wrap>
            <v-flex xs6>
              <v-text-field
                placeholder="Nome"
                v-model="form.nome"
                autofocus
              ></v-text-field>
            </v-flex>
            <v-flex xs4>
              <v-autocomplete
                :items="professores"
                :item-text="data => `${data.nome} - ${data.academia_display}`"
                item-value="id"
                hide-no-data
                hide-details
                :disabled="!informaProfessor"
                v-model="form.professor"
                label="Professor"
              ></v-autocomplete>
            </v-flex>
            <v-flex xs2>
              <v-select
                :items="sexos"
                v-model="form.sexo"
                item-text="nome"
                item-value="id"
                label="Sexo"
              ></v-select>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex xs4>
              <v-autocomplete
                :items="idades"
                item-text="nome"
                item-value="id"
                hide-no-data
                hide-details
                v-model="form.categoria_idade"
                label="Idade"
              ></v-autocomplete>
            </v-flex>
            <v-flex xs4>
              <v-autocomplete
                :items="faixas"
                item-text="nome"
                item-value="id"
                hide-no-data
                hide-details
                v-model="form.faixa"
                label="Faixa"
              ></v-autocomplete>
            </v-flex>
            <v-flex xs4>
              <v-autocomplete
                :items="pesos"
                item-text="nome"
                item-value="id"
                hide-no-data
                hide-details
                v-model="form.categoria_peso"
                label="Peso"
              ></v-autocomplete>
            </v-flex>
            <v-flex xs12>
              <v-checkbox
                label="Absoluto"
                v-model="form.absoluto"
              ></v-checkbox>
            </v-flex>
          </v-layout>
        </v-container>
        <v-card-actions>
          <v-btn flat color="red darken-3" @click="dialog = false">Cancelar</v-btn>
          <v-spacer></v-spacer>
          <v-btn flat color="green darken-3" @click="save" :loading="loading">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapActions, mapState } from 'vuex'
const configuracoesConfig = {
  state: 'configuracoes',
  filters: {},
  url: 'api/configuracoes/'
}

export default {
  data () {
    return {
      dialog: false,
      exclude: false,
      informaProfessor: true,
      sexos: [],
      pesos: [],
      faixas: [],
      idades: [],
      form: {
        nome: null,
        sexo: null,
        categoria_peso: null,
        categoria_idade: null,
        faixa: null,
        absoluto: null,
        professor: null
      },
      config: {
        state: 'inscricoes',
        filters: {},
        url: 'api/inscricoes/'
      },
      loading: false
    }
  },
  computed: {
    ...mapState(['equipes', 'configuracoes', 'professores'])
  },
  methods: {
    ...mapActions([
      'load',
      'new',
      'update',
      'remove'
    ]),
    async show (form = null) {
      this.form = form === null ? {
        nome: null,
        sexo: null,
        categoria_peso: null,
        categoria_idade: null,
        faixa: null,
        absoluto: null,
        professor: null
      } : form
      this.informaProfessor = this.form.professor === null
      this.dialog = true
    },
    delete (form) {
      this.form = form
      this.exclude = true
    },
    async save () {
      this.loading = true
      this.config.data = this.form
      let update = this.form.hasOwnProperty('id')
      if (this.exclude) {
        await this.remove(this.config)
        this.exclude = false
      } else {
        if (update) {
          await this.update(this.config)
          this.dialog = false
        } else {
          await this.new(this.config)
          this.dialog = false
        }
      }
      this.loading = false
    }
  },
  async mounted () {
    await this.load(configuracoesConfig)
    if (this.configuracoes.length > 0) {
      this.sexos = this.configuracoes[0].sexos
      this.faixas = this.configuracoes[0].faixas
      this.pesos = this.configuracoes[0].pesos
      this.idades = this.configuracoes[0].idades
    }
  }
}
</script>
