<template>
  <v-layout row justify-center>
    <v-dialog v-model="exclude" persistent max-width="400">
      <v-card>
        <v-card-title class="headline">Apgar equipe.</v-card-title>
        <v-card-text>Tem certeza que deseja excluir a equipe <strong>{{form.nome}}</strong>?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat @click.native="exclude = false">Cancelar</v-btn>
          <v-btn color="error darken-1" flat @click.native="save" :loading="loading">Excluir</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog" persistent width="800px">
      <v-card>
        <v-card-title
          class="grey lighten-4 py-4 title"
        >
          Formulário de Equipe
        </v-card-title>
        <v-container grid-list-sm class="pa-4">
          <v-layout row wrap>
            <v-flex xs6>
              <v-text-field
                prepend-icon="business"
                placeholder="Nome"
                v-model="form.nome"
                autofocus
              ></v-text-field>
            </v-flex>
            <v-flex xs6>
              <v-text-field
                placeholder="Observação"
                v-model="form.observacao"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
        <v-card-actions>
          <v-btn flat color="red darken-3" @click="dialog = false">Cancelar</v-btn>
          <v-spacer></v-spacer>
          <v-btn flat color="green darken-3" @click="save" :loading="loading">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data () {
    return {
      dialog: false,
      exclude: false,
      form: {},
      config: {},
      loading: false
    }
  },
  methods: {
    ...mapActions(['new', 'update', 'remove']),
    show (config, form = null) {
      this.config = config
      this.form = form === null ? {
        nome: '',
        observacao: ''
      } : form
      this.dialog = true
    },
    delete (config, form) {
      this.config = config
      this.form = form
      this.exclude = true
    },
    async save () {
      this.loading = true
      this.config.data = this.form
      let update = this.form.hasOwnProperty('id')
      if (this.exclude) {
        await this.remove(this.config)
        this.exclude = false
      } else {
        if (update) {
          await this.update(this.config)
          this.dialog = false
        } else {
          await this.new(this.config)
          this.dialog = false
        }
      }
      this.loading = false
    }
  }
}
</script>
