<template>
  <v-dialog v-model="dialog"
            max-width="400px"
            persistent
            lazy>
    <v-card>
      <v-form ref="form" lazy-validation @submit.prevent="signin()" :disabled="running">
        <v-card-title
            class="grey lighten-4 py-4 title"
        >
          Login
        </v-card-title>
        <v-container grid-list-sm class="pa-4">
          <v-alert :color="logon.status"
                   :icon="logon.icon"
                   v-model="logon.show"
                   outline
                   transition="fadeIn">
            {{logon.message}}
          </v-alert>
          <v-layout row wrap>
            <v-flex xs12>
              <v-text-field
                  prepend-icon="account_circle"
                  placeholder="Usuário"
                  v-model="form.username"
                  autofocus=""
              />
            </v-flex>
            <v-flex xs12>
              <v-text-field
                  type="password"
                  prepend-icon="lock"
                  placeholder="Senha"
                  v-model="form.password"
              />
            </v-flex>
          </v-layout>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn type="submit" icon color="primary" @click="login" :loading="running">
            <v-icon>done</v-icon>
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Login',
  data () {
    return {
      dialog: true,
      logon: {
        status: 'warning',
        icon: 'warning',
        show: false,
        message: ''
      },
      form: {
        username: '',
        password: ''
      },
      running: false
    }
  },
  methods: {
    ...mapActions(['login', 'check']),
    async signin () {
      this.running = true

      this.login(this.form).then(
        data => {
          this.running = false
          this.dialog = false
          location.reload()
        }
      ).catch(
        e => {
          this.running = false
          this.dialog = true
          if ('detail' in e.response.data) {
            this.showAlert(1, e.response.data['detail'])
          } else if ('non_field_errors' in e.response.data) {
            this.showAlert(1, e.response.data['non_field_errors'][0])
          } else {
            this.showAlert(1, 'O campo senha é obrigatório')
          }
        }
      )
    },
    showAlert (type, message) {
      type = typeof type === 'undefined' ? 0 : type
      message = typeof message === 'undefined' ? 'Inicie uma sessão para continuar' : message
      const alertType = [{
        status: 'warning',
        icon: 'warning'
      }, {
        status: 'error',
        icon: 'error'
      }, {
        status: 'success',
        icon: 'info'
      }]
      this.logon = Object.assign(alertType[type], {show: true, message: message})
    }
  },
  async created () {
    this.running = true
    this.check().then(
      () => {
        this.dialog = false
        this.running = true
      }
    ).catch(
      e => {
        this.running = false
        this.dialog = true
        this.showAlert(1, e.message)
      }
    )
  }
}
</script>

<style scoped>

</style>
