<template>
  <v-app
    id="inspire"
  >
    <v-toolbar
      color="black"
      dense
      fixed
      dark
      clipped-left
      app
      v-if="isLogged"
    >
      <v-toolbar-title class="mr-5 align-center">
        <span class="title">2º Open Comodoro</span>
      </v-toolbar-title>
      <v-btn flat to="/">
        Inscrições
      </v-btn>
      <v-btn flat to="equipes" v-if="isAdmin">
        Equipes
      </v-btn>
      <v-btn flat to="academias" v-if="isAdmin">
        Academias
      </v-btn>
      <v-btn flat to="professores" v-if="isAdmin">
        Professores
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn flat @click="logout">
        <span class="mr-2">{{user.username}}</span><v-icon color="red">highlight_off</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <router-view/>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  computed: {
    ...mapState(['user']),
    isAdmin () {
      return this.user === null ? false : this.user.is_superuser
    },
    isLogged () {
      return this.user !== null
    }
  },
  methods: {
    ...mapActions(['logout'])
  }
}
</script>
